body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.parent{
    width: 420px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
}
.child{
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 15px;
}
.parent > .child:nth-child(1){
    background-color: #f35220;
}
.parent > .child:nth-child(2){
    background-color: #82bd01;
}
.parent > .child:nth-child(3){
    background-color: #00a8f0;
}
.parent > .child:nth-child(4){
    background-color: #ffbb02;
}